* {
    font-family: 'Raleway';
}


:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid rgb(0, 0, 0);
    /*
    --left-msg-bg: #ececec;
    --right-msg-bg: rgb(255, 255, 255);
    */


    --left-msg-bg: rgb(255, 255, 255);
    --right-msg-bg: #51DA4A;

}

html {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    /*background-image: linear-gradient(#ffffff,#bcfdb6);*/
    background-image: url("/media/img/wallpaper_3.jpeg");
}

.chat {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.chat-header {
    height: 70px;
    border-radius: 13px 13px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background-color: #191414;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.chat-header-title {
    display: flex;
    color: white;
}

.chat-header-image {
    display: flex;
}

.chat-header-image img{
    height: 40px;
}

.window-chat {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}
.window-chat::-webkit-scrollbar {
    width: 6px;
}
.window-chat::-webkit-scrollbar-track {
    background: #ddd;
}
.window-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.msg:last-of-type {
    margin: 0;
}
.msg-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.msg-bubble {
    max-width: 600px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}
.msg-info-time {
    font-size: 0.85em;
}

.bold-message {
    font-weight: bold;
}


/* PREGUNTA DE TIPO ALBUM */

.album-info {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}

/*  1. album-image-info  |  2. album-songs-info */
.album-image-info {
    max-width: 300px;
    min-width: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.album-image-info-image img{
    height: 150px;
    display: block;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.album-image-info-info {
    margin-top: 20px;
}

.album-info-title-font {
    font-weight: 600;
    font-size: 15px;
}
.text-album-other {
    font-size: 14px;
}
.album-songs-info {
    padding-left: 5px;
    padding-right: 5px;
}

.album-songs-info {
    padding-left: 30px;
}

.artist-rel-img{
    display: block;
    -moz-box-shadow: 10px 7px 5px #ccc;
    -webkit-box-shadow: 10px 7px 5px #ccc;
    box-shadow: 10px 7px 5px #ccc;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.rel-artists-grid {
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
    "h1jn h2jn h3jn h4jn h5jn"
    "h6jn h7jn h8jn h9jn h10jn"
    "h11jn h12jn h13jn h14jn h15jn"
    "h16jn h17jn h18jn h19jn h20jn";
}

.related-artist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.related-artist p{
    font-size: 13px;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}
.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: black;
    border-bottom-right-radius: 0;
}
.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.chat-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: white;
    border-radius: 0 0 15px 15px;
    height: 70px;
    align-items: center;
}
.chat-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}
.chat-input {
    flex: 1;
    height: 40px;
    background: rgb(241, 241, 241);
    border-radius: 10px;
}
.msger-send-btn {
    margin-left: 10px;
    background: #1db954;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.chat-input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #18a048;
}

.msger-send-btn:hover {
    background: rgb(17, 129, 49);
}


.api-button {
    height: 50px;
    background-color: rosybrown;
}

.black-text {
    font-weight: 600;
}


/* LOADING PAGE*/
.wrapper{
    align-items: center;
    height: 37px;
    padding-top: 20px;
    position:relative;
    top:50%;
    left:60%;
    transform:translate(-50%, -50%);
}
.circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #259515;
    border-radius: 50%;
    animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
    transform-origin: bottom center;
    position: relative;
}
@keyframes loading{
    0%{
        transform: translateY(0px);
        background-color: #41d02c;
    }
    50%{
        transform: translateY(15px);
        background-color: #1b7f0d;
    }
    100%{
        transform: translateY(0px);
        background-color: #259515;
    }
}
.circle-1{
    animation-delay: 0.1s;
}
.circle-2{
    animation-delay: 0.2s;
}
.circle-3{
    animation-delay: 0.3s;
}
.circle-4{
    animation-delay: 0.4s;
}


/* PLAY BUTTON */

.text-and-play {
    display: flex;
    gap: 15px;
}

svg#play {
    width: 40px;
    cursor: pointer;
    vertical-align: center;
    transform-origin: 50% 50%;
}
svg#play #triangle {
    fill: rgba(22, 22, 22, 0);
    transition: 500ms;
    transform-origin: 50% 50%;
}
svg#play:hover #triangle {
    fill: #a3cd3a;
    transform-origin: 50% 50%;
}
svg #lineOne, svg #lineTwo {
    transform-origin: 50% 50%;
    transition: 1s;
}
svg:hover #lineOne {
    transform: rotate(260deg);
    -webkit-transform: rotate(260deg);
    -moz-transform: rotate(260deg);
    -o-transform: rotate(260deg);
    transform-origin: 50% 50%;
}
svg:hover #lineTwo {
    transform: rotate(-450deg);
    transform-origin: 50% 50%;
}


.flex {
    display: flex;
    gap: 8px;
    align-items: center;
}

#information {
    margin-bottom: 5px;
}

.flex svg#play {
    width: 22px;
    margin: 0;
}

.text-album-other {
    margin: 0;
}


